<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        /* Стилевое правило для увеличения размеров textarea */
        textarea {
            width: 400px; /* Ширина поля */
            height: 200px; /* Высота поля */
        }
    </style>
</head>
<body>
    <form method="post">
        <label for="content">Ваш секрет:</label><br>
        <textarea id="content" name="content"></textarea><br><br>

        <button type="submit">Поделиться</button>
        {% if message %}
            <div style="margin: 10px; color: green;"><h3>{{ message }}</h3></div>
        {% endif %}
    </form>
    <br>
    <a href="/">На главную</a>
</body>
</html>
